{% extends 'blog/base.html' %}

{% block content %}
<h1 style="text-align:center; font-family: 'Russo One', sans-serif;">About Me</h1>
<div style="text-align:center; margin-top: 20px;"><img height="50%" width="50%" src='/static/images/graduation_photo_copy.jpg' alt="No Image Found"></div>
<p style="text-align: center; margin-top: 20px; font-family: 'Russo One', sans-serif;">Ever since I learned how to print “Hello World” for the very first time, software development has been my passion. Since then, I latched on to any ideas for projects I could get, from a Sudoku solver all the way to creating simple toy websites, limited only by my own imagination and ingenuity.
The passion of Computer Science and Mathematics carries me through my education at Mcgill University. I am currently studying new languages, algorithms, compilers, higher mathematics, all with the fascination and curiosity that drove me to this industry. There’s certainly yet more to learn, yet more problems to solve, and yet more to build.
<br><br>Frontend: HTML, CSS, JS
<br>Backend: Python, Django, Bootstrap</p>
{% endblock %}
