{% extends 'blog/base.html' %}

{% block content %}
  <h1>New Comment</h1>
  <form class="post-form" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="save btn btn-default" value="Post Comment">
  </form>

  <!-- This is the script that lets us edit the comment (bold, links, etc.). We got this
  from forms.py where we added in the widget of 'text' to have the class 'editable' -->
  <script>
    var editor = new MediumEditor('.editable')
  </script>
{% endblock %}
