{% extends 'blog/base.html' %}

{% block content %}
<!-- <h1>
  {% if not form.instance.pk %}
  Create Post
  {% else %}
  Update Post
  {% endif %}
</h1>

<form method="post">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" class="btn btn-primary" value="Submit">
</form> -->
{% if not form.instance.pk %}
<h1>New Post</h1>
{% else %}
<h1>Update Post</h1>
{% endif %}
<form class="post-form" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" class="save btn btn-default" value="Save">
</form>

<script>
  var editor = new MediumEditor('.editable');
</script>
{% endblock %}
